<div class="twocolumns-contents wrapper">
  <aside>
    <%= render "users/shared/accountmenu" %>
  </aside>

  <article>
    <div class="main-contents">
      <h1>アカウント情報</h1>

      <table>
      <tr>
        <th>メールアドレス</th>
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <th>パスワード</th>
        <td>*********</td>
      </tr>
      </table>
    
      <div class="actions">
        <%= button_to "編集", {controller: 'users/registrations', action: 'edit'}, {method: :get} %>
      </div>
    </div>
  </article>
</div>
